/* google fonts integration */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 6vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.main-logo-text {
  width: 50vw;
}
.main-logo-text h1 a {
  text-decoration: none;
  color: black;
  margin-left: 15%;
}
.top-nav {
  width: 50vw;
  text-decoration: none;
  font-size: 16px;
}
.top-nav ul {
  display: flex;
  margin-left: 20%;
  text-decoration: none;
}
.top-nav ul li {
  margin-left: 2em;
  list-style-type: none;
  text-decoration: none;
}

.top-nav ul li a {
  text-decoration: none;
  color: black;
}
.top-nav ul li a:hover {
  color: #ff0059;
}
header {
  min-height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-title {
  width: 50vw;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 8%;
  padding-right: 6%;
}
.main-title a {
  text-decoration: none;
  color: white;
  background-color: #e22e6d;
  padding: 10px 25px;
  width: 200px;
  border-radius: 30px;
  transition: transform 1s;
}
.main-title a:hover {
  cursor: pointer;
  background-color: #ff0059;
  transform: scale(1.1);
}
.main-camera {
  height: 100%;
  width: 50vw;
  display: flex;
  align-items: center;
}
.main-camera img {
  width: 30%;
  background-image: url("images/Circle design.svg");
  background-position: 0 0px;
  background-repeat: no-repeat;
  background-size: 900px;
  margin-left: 20%;
  transition: transform 1.2s;
}
.main-camera img:hover {
  transform: scale(1.3);
}
.company-logos {
  width: 100vw;
  min-height: 14vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
}
.logos {
  width: 70vw;
  min-height: 10vh;
  border-top: 1px solid rgb(226, 226, 226);
  border-bottom: 1px solid rgb(226, 226, 226);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.shop {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.shop-items {
  text-align: center;
  margin: 5vh 0;
}
.collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 60vw;
}
.item {
  margin-right: 30px;
  margin-bottom: 30px;
  max-height: 480px;
  padding: 5%;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 1px 10px 20px 10px lightgray;
  border-radius: 15px;
  transition: transform 1s;
}
.item img {
  max-width: 300px;
  height: 256px;
}
.item h1 {
  font-size: 28px;
  font-weight: bold;
}
.item .stars {
  color: orange;
}
.stars span {
  color: black;
}
.item .bottom-text {
  margin-top: 5px;
  font-size: 12px;
}
.item:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.shop a {
  text-decoration: none;
  color: #e02c6d;
  font-size: 1.2em;
  margin-left: 50%;
  transition: transform 1s;
}
.shop a:hover {
  font-size: bold;
  color: #ff0059;
  transform: translateX(20px);
}
.creative {
  background-image: linear-gradient(-45deg, black, rgb(59, 59, 59));
  width: 100vw;
  min-height: 70vh;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.creative-image {
  width: 15%;
  display: flex;
  align-items: center;
}
.creative-text {
  color: white;
  width: 50vw;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 8%;
  padding-right: 6%;
}
.creative-text h2 {
  color: gray;
}
.creative-text em {
  font-size: 2em;
  margin-top: -20px;
}
.creative-text p {
  color: rgb(192, 192, 192);
}
.creative-text a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  transition: transform 1s;
}
.creative-text:hover a {
  transform: translateX(50px);
}
footer {
  background-color: rgb(13, 13, 53);
  width: 100vw;
  min-height: 20vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0;
  padding: 40px;
}
footer h2 {
  font-weight: 900;
}
footer p {
  margin-top: 10px;
}
.bottom-nav a {
  color: white;
  text-decoration: none;
  margin-left: 1vw;
  font-size: 20px;
}
.bottom-nav a:hover {
  color: #ff0059;
}

/* responsive */

@media only screen and (max-width: 688px) {
  nav {
    margin-top: 5vh;
  }
  .main-logo-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
  }
  .main-logo-text h1 a {
    font-size: 24px;
    margin: auto;
    float: right;
  }

  .main-logo-text i {
    display: block;
    font-size: 24px;
    color: black;
  }
  .top-nav {
    display: none;
  }
  header {
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .main-camera {
    width: 100vw;
    margin-bottom: 5vh;
  }
  .main-camera img {
    margin: auto;
  }
  .main-title {
    width: 100vw;
    text-align: center;
  }
  .main-title h1 {
    font-size: 2em;
  }
  .main-title a {
    margin: auto;
  }
  .logos {
    width: 100vw;
    border: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    place-items: center;
  }
  .shop {
    margin: 10px 0;
  }
  .shop a {
    margin: auto;
  }
  .collection {
    grid-template-columns: repeat(1, 1fr);
    width: 100vw;
  }
  .item {
    margin: 10px auto;
  }
  .creative {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    padding: 100px;
  }
  .creative-text {
    width: 100vw;
  }
  .creative-text {
    margin-bottom: 100px;
  }
  .creative-text a {
    margin: auto;
    color: white;
    text-decoration: none;
  }
  .creative-text h1 {
    font-size: 2.5em;
  }
  .creative-image img {
    width: 40vw;
    margin-left: -100px;
  }
  footer {
    width: 100vw;
  }
  footer h1,
  footer p {
    font-size: 1em;
  }
}

/* responsive */

@media only screen and (max-width: 968px) and (min-width: 688px) {
  nav {
    margin-top: 5vh;
  }
  .main-logo-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
  }
  .main-logo-text h1 a {
    font-size: 28px;
    margin: auto;
    float: right;
  }

  .main-logo-text i {
    display: block;
    font-size: 28px;
    color: black;
  }
  .top-nav {
    display: none;
  }
  header {
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .main-camera {
    width: 100vw;
    margin-bottom: 5vh;
  }
  .main-camera img {
    background-size: 220px;
    margin: auto;
  }
  .main-title {
    width: 100vw;
    text-align: center;
  }
  .main-title h1 {
    font-size: 2em;
  }
  .main-title a {
    margin: auto;
  }
  .logos {
    width: 100vw;
    border: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 30px;
    place-items: center;
  }
  .shop {
    margin: 10px 0;
  }
  .shop a {
    margin: 3vh auto;
  }
  .collection {
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
  }
  .item {
    margin: 10px auto;
  }
  .creative {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }
  .creative-text {
    width: 100vw;
  }
  .creative-text {
    margin-bottom: 100px;
  }
  .creative-text a {
    margin: auto;
    color: white;
    text-decoration: none;
  }
  .creative-text h1 {
    font-size: 2.5em;
  }
  .creative-image img {
    width: 40vw;
    margin-left: -100px;
  }
  footer {
    width: 100vw;
  }
  footer h1,
  footer p {
    font-size: 1em;
  }
}

/* responsive */

@media only screen and (max-width: 1440px) and (min-width: 968px) {
  nav .main-logo-text h1 a {
    font-size: 1.3em;
  }
  .top-nav ul {
    margin-left: 0%;
  }
  .top-nav ul li a {
    font-size: 1.2em;
  }
  .main-title h1 {
    font-size: 3em;
  }
  .shop {
    margin: 10px 0;
  }
  .shop a {
    margin: 3vh auto;
  }
  .collection {
    grid-template-columns: repeat(3, 1fr);
    width: 100vw;
  }
  .item {
    margin: 10px auto;
  }
  .creative-text h1 {
    font-size: 2em;
  }
  .creative-image {
    background-image: none;
  }
  .creative-image img {
    width: 90%;
  }
}
